/** variables **/
:root {
  --Cosmos: #FFCCCC
}

body {
  font-size: 90%;
}

/** elements **/
h1 {
  color: rgba(0,0,0,.7);
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 0;
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
}

header {
  color: white;
}

a, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 60, 0);
}

input {
  padding: .75rem;
  margin-top: .25rem;
}

table {
  background: rgba(0,0,0,.1);
  padding: 1rem;
}

tr {
  margin-bottom: 3rem;
}

th, td {
  padding: 12px;
}

.o-layout {
  padding: 4rem;
}

.o-btn-link {
  border: none;
  outline: none;
  background: transparent;
  color: var(--Cosmos);
  text-decoration: underline;
  cursor: pointer;
}

.o-breadcrumbs {
  margin-bottom: 1rem;
}
.o-breadcrumbs a {
  text-decoration: underline;
}

.o-btn-block {
  /* display: block; */
  background-color: #ffcccc;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 20px;
  display:inline-block;
  /* box-shadow: 3px 4px 0px 0px #e67a73; */
	border-radius:15px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f5dad8;

}

.o-error-msg {
  color: red;
  font-weight: bold;
}

.o-success-msg {
  color: green;
  font-weight: bold;
}

.c-filters {
  text-align: left;
	padding: 2rem 4rem;
  border-bottom: solid 1px rgba(0,0,0,.1);
  background: rgba(0,0,0,.05);
}

.c-filters__adv {
  padding: 2rem 0;
  display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows: 10vh; */
	grid-column-gap: 1rem;
	align-items: center;
  /* grid-template-areas: 'back tertiary secondary primary'; */
  align-items: start;
}

.c-filters__block {
  background: red;
}

.c-filters__input {
  margin-bottom: .5rem;
}

.c-products {
  /* background: rgba(0,0,0,.05); */
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.c-products--none {
  padding: 4rem;
}

.c-products__item {
  border: solid 1px rgba(0,0,0,.1);
  padding: 1rem;
}

.c-products__item img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.c-products__item h2 {
  font-weight: bold;
}

.c-pagination {
  padding: 2rem;
  text-align: center;
}

.c-details {
  display: flex;
  margin-bottom: 2rem;
}

.c-details__img {
  flex: 1;
  margin-right: 1rem;
}
.c-details img {
  width: 100%;
}

.c-details__about {
  flex: 2
}

.c-details__cart {
  padding: 1rem;
  flex: 1;
  background: rgba(0,0,0,.1);
}

.c-category-pill {
  background: var(--Cosmos);
  border: none;
  border-radius: 3px;
  color: white;
  outline: none;
}

.c-related {
  padding: 4rem;
  border: solid 1px rgba(0,0,0,.3)
}

.c-related__items {
  display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1rem;
	align-items: center;
  align-items: start;
}

.c-auth {
  display: flex;
}

.c-auth > {
  flex: 1;
}

.c-auth input {
  display: block;
  width: 80%;
}

.c-auth input[type=checkbox] {
  width: initial;
  display: inline-block;
  margin-left: 1rem;
}

.c-auth label {
  display: block;
  margin-bottom: 2rem;
}

.c-auth__login, .c-auth__signup {
  flex: 1;
}

.c-auth__signup {
  border-right: solid 1px rgba(0,0,0,.1);
  margin-right: 2rem;
}

.c-cart__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  background: rgba(0,0,0,.1);
  padding: 1rem;
}

.c-cart__items, .c-card_shipping, .c-cart__payment {
  margin-bottom: 2rem;
}

/* .c-card_shipping {

} */